project_id            = "datatalks-de-capstone"
region                = "us-central1"
location              = "US"
bucket_name           = "capstone-bucket-lemieuxjm-2026"
bq_dataset_raw        = "capstone_raw"
bq_dataset_silver     = "capstone_silver"
bq_dataset_gold       = "capstone_gold"

